<html>
<body>

<div style="margin-left: 350px;">
    <div class="mycalculator">
        <input #box (keyup.enter)="calcvalue(box.value)" [(ngModel)]="toshow" type="text">
        <div class="all-bn">
            <div class="all-bn-extra">
                <button (click)="insertpercecent()">&#37;</button>
                <button (click)="clear()">CE</button>
                <button (click)="clear()">C</button>
                <button (click)="insertinverse()">&#185;/&#8339;</button>
                <button (click)="insertsquare()">x&#178;</button>
                <button (click)="insertroot()">&#178;√x</button>
            <div class="all-bn-numbers">
                <button (click)="writetoinput('1')">1</button>
                <button (click)="writetoinput('2')">2</button>
                <button (click)="writetoinput('3')">3</button>
                <button (click)="writetoinput('4')">4</button>
                <button (click)="writetoinput('5')">5</button>
                <button (click)="writetoinput('6')">6</button>
                <button (click)="writetoinput('7')">7</button>
                <button (click)="writetoinput('8')">8</button>
                <button (click)="writetoinput('9')">9</button>
                <button (click)="writetoinput('.')">.</button>
                <button (click)="writetoinput('0')">0</button>
                <button (click)="reversesign()">&#177;</button>
            </div>
            </div>
            <div class="all-bn-signs">
                <button (click)="back()">DEL</button>
                <button (click)="writetoinput('÷')">&#247;</button>
                <button (click)="writetoinput('x')">&#215;</button>
                <button (click)="writetoinput('-')">-</button>
                <button (click)="writetoinput('+')">+</button>
                <button (click)="equal()" style="background-color:rgb(63,89,192) ; " id="res">=</button>
            </div>    
        </div>
        </div>


</div>

</body>
</html>

