
.mycalculator{
border: 1px solid black;
display: flex;
flex-direction: column;
background-color: black;
align-items: center;
width:300px;
border-radius: 20px;
margin-left:100px;
}

.all-bn{
    display: flex;
}
.all-bn-signs{
    display:flex;
    flex-direction: column;


}

.all-bn-extra button{
    margin: unset;
    border-radius: 30px;
    border:1px black solid;
    font-size: 25px;
    width: 75px;
    background-color:darkgray;
    font-weight: bold;
    color: aliceblue;

}
.all-bn-numbers button{
background-color:lightgrey;
color: black;

}
.all-bn-signs button{
    font-weight: bold;
    background-color: darkorange;
    border-radius: 30px;
    color:antiquewhite;
    margin: unset;
    border:1px black solid;
    font-size: 25px;
    width:75px;
}

.all-bn-extra button:hover{
    cursor:pointer;
    box-shadow: 0px 0px 10px 5px white;
}
.all-bn-signs button:hover{
    cursor:pointer;
    box-shadow: 0px 0px 10px 5px rgb(255,252,55);
}

#res:hover{
    cursor:pointer;
    box-shadow: 0px 0px 10px 5px rgb(63,89,192);
}

input{
    width: 90%;
    height: 90px;
    margin: 20px 15px 15px 15px;
    border:1px solid orange;
    border-radius: 30px;
    font-size: 30px;
    padding: 10px;
    font-weight: bold; 
    background-color: aliceblue;
}
input:focus{
    outline:none;
    border: 1px solid orange;


}
